<div class="card" >
  <!-- Card Header -->
  <div class="card-header border-0 pt-6">
    <!-- Card Title -->
    <div class="card-title">
      <!-- Search Input -->
      <div class="d-flex align-items-center position-relative my-1 gap-3" style="position: relative;"> 
        <i class="ki-duotone ki-magnifier fs-3"
           style="position: absolute; left: 15px; top: 50%; transform: translateY(-50%); color: #555;">
          <span class="path1"></span><span class="path2"></span>
        </i>
        <input 
          type="text" 
          [(ngModel)]="search" 
          name="search" 
          class="form-control form-control-solid w-350px ps-12" 
          placeholder="Buscar roles"
          style="padding-left: 40px; border: 1px solid #ccc; color: #000;"
        />
        <!-- Search Button -->
        <button type="button" class="btn btn-primary" (click)="listRoles()">
          Buscar
          <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
        </button>
        <!-- Refresh Button -->
        <button type="button" class="btn btn-primary" (click)="refreshRoles()">
          Refrescar
        </button>
      </div>
    </div>

    <!-- Card Toolbar -->
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <!-- Add Role Button -->
        <button type="button" class="btn btn-primary" (click)="createRol()">
          + Agregar Rol
        </button>
      </div>
    </div>
  </div>

  <!-- Card Body -->
  <div class="card-body pt-0">
    <!-- Table -->
    <div class="table-responsive" style="border: none">
      <table class="table align-middle table-row-dashed fs-6 gy-5">
        <thead>
          <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
            <th class="min-w-125px text-center">Rol</th>
            <th class="min-w-75px text-center">Permisos</th>
            <th class="min-w-125px text-center">Fecha de Registro</th>
            <th class="text-end min-w-70px text-center">Acciones</th>
          </tr>
        </thead>
        <tbody class="fw-semibold text-gray-600">
          <!-- Loop through roles -->
          <tr *ngFor="let ROL of ROLES" style="border: none">
            <td>{{ ROL.name }}</td>
            <td>
              <span style="width: 800px !important; display: block;"> 
                {{ ROL.permission_pluck }}
              </span>
            </td>
            <td class="text-center">{{ ROL.created_format_at }}</td>
            <td class="text-center">
              <!-- Edit Button -->
              <a *ngIf="ROL.id > 1" href="#" onclick="return false;" (click)="editRole(ROL)" 
                 class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <i class="ki-duotone ki-pencil fs-2">
                  <span class="path1"></span><span class="path2"></span>
                </i>
              </a>
              <!-- Delete Button -->
              <a *ngIf="ROL.id > 1" href="#" onclick="return false;" (click)="deleteRole(ROL)"  
                 class="btn btn-icon btn-bg-light btn-active-light-primary btn-sm me">
                <i class="ki-duotone ki-trash fs-2">
                  <span class="path1"></span><span class="path2"></span>
                  <span class="path3"></span><span class="path4"></span>
                  <span class="path5"></span> <!-- Ajuste para que el ícono del bote de basura aparezca bien -->
                </i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <ngb-pagination 
      [collectionSize]="totalPages" 
      [(page)]="currentPage" 
      [pageSize]="25" 
      [rotate]="true" 
      [boundaryLinks]="true" 
      (pageChange)="loadPage($event)">
    </ngb-pagination>
  </div>
</div>
