.dropdown-menu {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.dropdown-item:hover {
  background-color: #f1faff;
  cursor: pointer;
}

.alert {
  border-left: 4px solid;
  border-radius: 0.475rem;
}

canvas {
  max-height: 100%;
}