<div class="card" >
    <!-- Card Header -->
    <div class="card-header border-0 pt-6">
      <!-- Card Title -->
      <div class="card-title">
        <!-- Search Input -->
        <div class="d-flex align-items-center position-relative my-1 gap-3" style="position: relative;"> 
          <i class="ki-duotone ki-magnifier fs-3"
             style="position: absolute; left: 15px; top: 50%; transform: translateY(-50%); color: #555;">
            <span class="path1"></span><span class="path2"></span>
          </i>
          <input 
            type="text" 
            [(ngModel)]="search" (keyup.enter)="listSubareas()"
            name="search" 
            class="form-control form-control-solid w-350px ps-12" 
            placeholder="Buscar Subárea"
            style="padding-left: 40px; border: 1px solid #ccc; color: #000;"
          />
          <!-- Search Button -->
          <button type="button" class="btn btn-primary" (click)="listSubareas()">
            Buscar
            <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
          </button>
          <!-- Refresh Button -->
          <button type="button" class="btn btn-primary" (click)="refreshSubareas()">
            Refrescar
          </button>
        </div>
      </div>
  
      <!-- Card Toolbar -->
      <div class="card-toolbar">
        <div class="d-flex justify-content-end">
          <!-- Add Role Button -->
          <button type="button" class="btn btn-primary" (click)="createSubarea()">
            + Agregar Subarea
          </button>
        </div>
      </div>
    </div>
  
    <!-- Card Body -->
    <div class="card-body pt-0">
      <div class="table-responsive" style="border: none">
          <table class="table align-middle table-row-dashed fs-6 gy-5">
              <thead>
                  <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0" role="row">
                      <th class="min-w-250px text-center" data-dt-column="1" aria-label="Subarea; Activar para ordenar" tabindex="0">
                          <span class="dt-column-title" role="button">Subárea</span>
                          <span class="dt-column-order"></span>
                      </th>
                      <th class="min-w-250px text-center" data-dt-column="2" aria-label="Area; Activar para ordenar" tabindex="0">
                          <span class="dt-column-title" role="button">Area</span>
                          <span class="dt-column-order"></span>
                      </th>
                      <!--<th class="min-w-100px text-center" data-dt-column="2" aria-label="Domicilio; Activar para ordenar" tabindex="0">
                          <span class="dt-column-title" role="button">Domicilio</span>
                          <span class="dt-column-order"></span>
                      </th>-->
                      <th class="min-w-80px text-center" data-dt-column="3" aria-label="Municipio; Activar para ordenar" tabindex="0">
                          <span class="dt-column-title" role="button">Municipio</span>
                          <span class="dt-column-order"></span>
                      </th>
                      <th class="min-w-80px text-center" data-dt-column="3" aria-label="Municipio; Activar para ordenar" tabindex="0">
                          <span class="dt-column-title" role="button">Localidad</span>
                          <span class="dt-column-order"></span>
                      </th>
                      <th class="min-w-80px text-center" data-dt-column="4" aria-label="Fecha de Registro; Activar para ordenar" tabindex="0">
                          <span class="dt-column-title" role="button">Fecha de Registro</span>
                          <span class="dt-column-order"></span>
                      </th>
                      <th class="min-w-80px text-center" data-dt-column="5" aria-label="Acciones; Activar para ordenar" tabindex="0">
                          <span class="dt-column-title" role="button">Acciones</span>
                          <span class="dt-column-order"></span>
                      </th>
                  </tr>
              </thead>
              <tbody class="fw-semibold text-gray-600">
                <tr *ngIf="subareas.length === 0 && !(isLoading$ | async)">
            <td colspan="6" class="text-center">No se encontraron subáreas.</td>
          </tr>
                <tr *ngFor="let subare of subareas || []">
                  <!--<tr *ngFor="let SUBARE of SUBAREAS" style="border: none">-->
                      <td class="text-justify" style="max-width: 300px; white-space: normal; word-wrap: break-word;"> <!--se pone en varios renglones-->
                          {{ subare.name }}
                      </td>
                      <!--<td class="text-justify" style="max-width: 200px; white-space: normal; word-wrap: break-word;">
                          {{ subare.address }}
                      </td>-->
                      <td class="text-center">{{ subare.area.name }}</td>
                      <td class="text-center">{{ subare.municipio }}</td>
                      <td class="text-center">{{ subare.localidad }}</td>

                      <td class="text-center">{{ subare.created_at }}</td>
                      <td class="text-center">
                          <a href="#" onclick="return false;" (click)="editSubarea(subare)" 
                             class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                              <i class="ki-duotone ki-pencil fs-2">
                                  <span class="path1"></span><span class="path2"></span>
                              </i>
                          </a>
                          <a href="#" onclick="return false;" (click)="deleteSubarea(subare)"  
                             class="btn btn-icon btn-bg-light btn-active-light-primary btn-sm">
                              <i class="ki-duotone ki-trash fs-2">
                                  <span class="path1"></span><span class="path2"></span>
                                  <span class="path3"></span><span class="path4"></span>
                                  <span class="path5"></span>
                              </i>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

      <!-- Pagination -->
      <ngb-pagination 
          [collectionSize]="totalPages" 
          [(page)]="currentPage" 
          [pageSize]="25" 
          [rotate]="true" 
          [boundaryLinks]="true" 
          (pageChange)="loadPage($event)">
      </ngb-pagination>
  </div>  